In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
plt.rc('font', family='NanumGothic')
plt.rcParams["font.size"] = 12
plt.rcParams["font.family"] = 'NanumGothic'
plt.rcParams['xtick.labelsize'] = 12.
plt.rcParams['ytick.labelsize'] = 12.
from datetime import datetime
from datetime import timedelta
from pandas import Series, DataFrame

In [3]:
#데이터 적재
age_201902 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_201902.csv', sep = '|')
age_201903 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_201903.csv', sep = '|')
age_201904 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_201904.csv', sep = '|')
age_201905 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_201905.csv', sep = '|')

age_202002 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_202002.csv', sep = '|')
age_202003 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_202003.csv', sep = '|')
age_202004 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_202004.csv', sep = '|')
age_202005 = pd.read_csv('C:/Users/JIN/Jupyter/Big Con/01_유동인구데이터(SK텔레콤)/4개지역_FLOW_AGE_202005.csv', sep = '|')

In [4]:
#2019년 데이터, 2020년 데이터로 합치기
age_2019 = pd.concat([age_201902, age_201903, age_201904, age_201905], axis = 0, ignore_index = True)
age_2020 = pd.concat([age_202002, age_202003, age_202004, age_202005], axis = 0, ignore_index = True)

In [5]:
#필요 없는 column인 HDONG_CD 삭제
age_2020.drop('HDONG_CD', axis = 1, inplace = True)
age_2019.drop('HDONG_CD', axis = 1, inplace = True)

In [6]:
#년월일 date type으로 바꾸기
age_2019['STD_YMD'] = pd.to_datetime(age_2019.STD_YMD, format = '%Y%m%d')
age_2020['STD_YMD'] = pd.to_datetime(age_2020.STD_YMD, format = '%Y%m%d')

In [7]:
#연도, 월 column 추가
age_2020['연도'] = age_2020['STD_YMD'].apply(lambda X: X.strftime('%Y'))
age_2020['월'] = age_2020['STD_YMD'].apply(lambda X: X.strftime('%m'))

age_2019['연도'] = age_2019['STD_YMD'].apply(lambda X: X.strftime('%Y'))
age_2019['월'] = age_2019['STD_YMD'].apply(lambda X: X.strftime('%m'))

In [8]:
서울_중구 = ['소공동', '회현동', '명동', '필동', '장충동', '광희동', '을지로동', '신당동', '다산동',\
     '약수동', '청구동', '신당5동', '동화동', '황학동', '중림동']
서울_노원구 = ['월계1동', '월계2동', '월계3동', '공릉1동', '공릉2동', '하계1동', '하계2동', '중계본동',\
         '중계1동', '중계4동', '중계2.3동', '상계1동', '상계2동', '상계3.4동', '상계5동', '상계6.7동',\
         '상계8동', '상계9동', '상계10동']
서울특별시 = 서울_중구 + 서울_노원구

In [9]:
대구_중구 = ['동인동', '삼덕동', '성내1동', '성내2동', '성내3동', '대신동', '남산1동', '남산2동', '남산3동', '남산4동',\
         '대봉1동', '대봉2동']
대구_수성구 = ['범어1동', '범어2동', '범어3동', '범어4동', '만촌1동', '만촌2동', '만촌3동', '수성1가동', '수성2.3가동',\
         '수성4가동', '황금1동', '황금2동', '중동', '상동', '파동', '두산동', '지산1동', '지산2동', '범물1동', '범물2동',\
         '고산1동', '고산2동', '고산3동']
대구광역시 = 대구_중구 + 대구_수성구

In [11]:
#도시, 행정구 column 추가
age_2019 = age_2019.assign(CITY_NM = '', GU_NM = '')
age_2020 = age_2020.assign(CITY_NM = '', GU_NM = '')

In [10]:
#행정구를 구별하는 함수
def where_gu(df):
    i = 0
    for i in list(range(len(df))):
        if df['HDONG_NM'][i] in 서울_중구:
            df['GU_NM'][i] = '서울중구'
        elif df['HDONG_NM'][i] in 서울_노원구:
            df['GU_NM'][i] = '노원구'
        elif df['HDONG_NM'][i] in 대구_중구:
            df['GU_NM'][i] = '대구중구'
        elif df['HDONG_NM'][i] in 대구_수성구:
            df['GU_NM'][i] = '수성구'
        i+1

In [12]:
#도시를 구별하는 함수
def where_city(df):
    i = 0
    for i in list(range(len(df))):
        if df['HDONG_NM'][i] in 서울특별시:
            df['CITY_NM'][i] = '서울특별시'
        else:
            df['CITY_NM'][i] = '대구광역시'
        i+1

In [13]:
where_gu(age_2020)
where_city(age_2020)
where_gu(age_2019)
where_city(age_2019)

<ipython-input-10-5b2b019468f9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GU_NM'][i] = '서울중구'
<ipython-input-10-5b2b019468f9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GU_NM'][i] = '노원구'
<ipython-input-10-5b2b019468f9>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GU_NM'][i] = '대구중구'
<ipython-input-10-5b2b019468f9>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GU_NM'][i] = '수성구'

In [14]:
#column 모두 한국어로 바꾸기
def change_columns_into_korean(df):
    df.columns = ['연월', '연월일', '행정동',\
                  '남_0004', '남_0509', '남_1014', '남_1519',\
                  '남_2024', '남_2529', '남_3034', '남_3539',\
                  '남_4044', '남_4549', '남_5054', '남_5559',\
                  '남_6064', '남_6569', '남_70U',\
                  '여_0004', '여_0509', '여_1014', '여_1519',\
                  '여_2024', '여_2529', '여_3034', '여_3539',\
                  '여_4044', '여_4549', '여_5054', '여_5559',\
                  '여_6064', '여_6569', '여_70U',\
                  '연도', '월', '도시', '행정구']

In [15]:
change_columns_into_korean(age_2019)
change_columns_into_korean(age_2020)

In [16]:
def age_binning(df):
    df['10대미만'] = df.남_0004 + df.남_0509 + df.여_0004 + df.여_0509
    df['10대'] = df.남_1014 + df.남_1519 + df.여_1014 + df.여_1519
    df['20대'] = df.남_2024 + df.남_2529 + df.여_2024 + df.여_2529
    df['30대'] = df.남_3034 + df.남_3539 + df.여_3034 + df.여_3539
    df['40대'] = df.남_4044 + df.남_4549 + df.여_4044 + df.여_4549
    df['50대'] = df.남_5054 + df.남_5559 + df.여_5054 + df.여_5559
    df['60대'] = df.남_6064 + df.남_6569 + df.여_6064 + df.여_6569
    df['70대이상'] = df.남_70U + df.여_70U
    df['전체'] = df['10대미만'] + df['10대'] + df['20대'] + df['30대'] + df['40대'] + df['50대'] + df['60대'] + df['70대이상']

In [17]:
age_binning(age_2019)
age_binning(age_2020)

In [17]:
age_2019.head()

,연월,연월일,행정동,남_0004,남_0509,남_1014,남_1519,남_2024,남_2529,남_3034,...,행정구,10대미만,10대,20대,30대,40대,50대,60대,70대이상,전체
0,201902,2019-02-01,소공동,16.64,116.18,419.70,1553.57,5196.07,11195.62,14249.35,...,서울중구,284.24,4599.43,38257.92,55615.29,53401.72,44606.70,31151.00,14314.38,242230.68
1,201902,2019-02-02,소공동,3.14,141.07,763.30,1405.29,4235.82,7592.34,7259.61,...,서울중구,350.61,5108.77,25727.02,26276.43,22604.52,23096.47,20048.26,10199.91,133411.99
2,201902,2019-02-03,소공동,1.38,120.39,698.23,1117.17,3032.90,5173.35,5067.98,...,서울중구,282.08,3901.37,17144.44,18189.25,15815.95,15984.44,12865.10,5942.30,90124.93
3,201902,2019-02-04,소공동,0.08,141.61,772.41,1248.85,3001.95,4641.82,4508.23,...,서울중구,305.29,4334.41,15116.51,16168.42,14735.74,15066.32,12118.11,5533.75,83378.55
4,201902,2019-02-05,소공동,0.00,254.70,1394.92,2190.69,3420.15,5478.30,5735.30,...,서울중구,587.66,7370.20,17379.32,22183.38,22258.69,21011.40,14198.47,6020.35,111009.47

In [18]:
age_2020.head()

,연월,연월일,행정동,남_0004,남_0509,남_1014,남_1519,남_2024,남_2529,남_3034,...,행정구,10대미만,10대,20대,30대,40대,50대,60대,70대이상,전체
0,202002,2020-02-01,소공동,0.0,88.95,376.68,1077.03,3602.41,6660.39,6519.52,...,서울중구,162.73,3295.50,22223.67,21474.77,19042.67,19788.20,16898.52,8431.63,111317.69
1,202002,2020-02-02,소공동,0.0,51.03,271.96,871.27,2824.97,5031.63,4626.14,...,서울중구,106.18,2702.70,16366.65,15222.14,13403.29,13958.13,11565.29,5594.05,78918.43
2,202002,2020-02-03,소공동,0.0,32.47,136.94,826.26,3580.23,8823.11,11803.45,...,서울중구,67.56,2285.84,29814.28,47147.52,49059.21,38078.74,24292.38,10761.34,201506.87
3,202002,2020-02-04,소공동,0.0,27.34,154.75,823.69,3510.75,9361.85,12127.55,...,서울중구,67.75,2320.44,30988.80,49079.81,50645.41,39590.54,24491.71,10814.00,207998.46
4,202002,2020-02-05,소공동,0.0,26.30,177.28,809.21,3579.35,9631.85,12378.43,...,서울중구,62.74,2444.42,31675.38,49513.31,50631.34,38822.87,23852.42,10156.17,207158.65

In [18]:
#서울중구, 노원구, 대구중구, 수성구로 가공된 데이터를 나눠주기
서울중구_2020 = age_2020[age_2020.행정구 == '서울중구']
서울중구_2019 = age_2019[age_2019.행정구 == '서울중구']

노원구_2020 = age_2020[age_2020.행정구 == '노원구']
노원구_2019 = age_2019[age_2019.행정구 == '노원구']

대구중구_2020 = age_2020[age_2020.행정구 == '대구중구']
대구중구_2019 = age_2019[age_2019.행정구 == '대구중구']

수성구_2020 = age_2020[age_2020.행정구 == '수성구']
수성구_2019 = age_2019[age_2019.행정구 == '수성구']
#데이터 가공 완료!

In [19]:
#표 만드는 함수
from scipy.stats import ttest_ind

def result_dataframe(df, df2019, df2020):
    df['2019'] = df2019.groupby('행정동')['전체'].mean()
    df['2020'] = df2020.groupby('행정동')['전체'].mean()
    df['평균 차이'] = np.round(df['2019'] - df['2020'], 2)
    df['감소율(%)'] = np.round((df['2020'] / df['2019'] - 1) * 100, 2)
    for i in list(df2019.행정동.unique()):
        df['T검정값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[0]
        df['p값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[1]

In [20]:
def result_dataframe2(df, df2019, df2020):
    for i in list(df2019.행정동.unique()):
        df['T검정값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[0]
        df['p값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[1]

In [21]:
서울중구_결과 = DataFrame(index = 서울중구_2019.groupby('행정동')['전체'].mean().index, columns = ['2019', '2020', 'T검정값', 'p값'])
노원구_결과 = DataFrame(index = 노원구_2019.groupby('행정동')['전체'].mean().index, columns = ['2019', '2020', 'T검정값', 'p값'])
대구중구_결과 = DataFrame(index = 대구중구_2019.groupby('행정동')['전체'].mean().index, columns = ['2019', '2020', 'T검정값', 'p값'])
수성구_결과 = DataFrame(index = 수성구_2019.groupby('행정동')['전체'].mean().index, columns = ['2019', '2020', 'T검정값', 'p값'])

In [23]:
result_dataframe(서울중구_결과, 서울중구_2019, 서울중구_2020)
서울중구_결과

<ipython-input-19-1c8ea480601a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T검정값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[0]
<ipython-input-19-1c8ea480601a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['p값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[1]

               2019           2020     T검정값           p값      평균 차이  감소율(%)
행정동
광희동   233061.095333  154654.176033  13.4997  3.01279e-31   78406.92  -33.64
다산동    68556.533000   56204.596116  7.76348  2.41049e-13   12351.94  -18.02
동화동    23826.528417   20237.964215  5.22817  3.73439e-07    3588.56  -15.06
명동    326198.057417  187992.745702   15.315  2.37325e-37  138205.31  -42.37
소공동   222690.210500  150872.504215  10.3956  3.98761e-21   71817.71  -32.25
신당5동   42283.470333   29182.081157  13.3593  8.87237e-31   13101.39  -30.98
신당동   111651.127333   85099.673884  9.24315  1.36708e-17   26551.45  -23.78
약수동    82657.889000   62685.413802  12.3006  2.89168e-27   19972.48  -24.16
을지로동  140420.274167  104499.239256  7.57384  7.89314e-13   35921.03  -25.58
장충동    78852.003333   55217.585455  15.1069  1.19417e-36   23634.42  -29.97
중림동    43826.769167   33142.110992  10.0501  4.76269e-20   10684.66  -24.38
청구동    29676.079750   21280.780413  14.7235   2.3382e-35    8395.30  -28.29
필동    135239.186750   90669.845868  13.1207  5.54462e-30   44569.34  -32.96
황학동    57179.277417   43936.730909  10.1682  2.04684e-20   13242.55  -23.16
회현동   286020.533667  183292.325124  14.1976  1.37569e-33  102728.21  -35.92

In [37]:
import os
base_dir = "E:/문서/DataCam/팀플"
file_nm = "대구수성구인구.xlsx"
xlxs_dir = os.path.join(base_dir, file_nm)

In [38]:
수성구_결과.to_excel(xlxs_dir,
            sheet_name = 'Sheet1', 
            na_rep = 'NaN', 
            float_format = "%.2f", 
            header = True, 
            index = True, 
            index_label = "id", 
            )

In [24]:
result_dataframe(노원구_결과, 노원구_2019, 노원구_2020)
노원구_결과

<ipython-input-19-1c8ea480601a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T검정값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[0]
<ipython-input-19-1c8ea480601a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['p값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[1]

                 2019           2020     T검정값           p값     평균 차이  감소율(%)
행정동
공릉1동    179592.344500  148224.577603  13.4462  4.54705e-31  31367.77  -17.47
공릉2동    200210.363000  145451.210496  17.9036  4.84036e-46  54759.15  -27.35
상계10동    42644.369417   31401.924215  19.8551  1.76428e-52  11242.45  -26.36
상계1동    122809.375417  101293.396281  15.7545  7.83533e-39  21515.98  -17.52
상계2동     92563.687833   76591.862810  13.7632  3.95198e-32  15971.83  -17.25
상계3.4동   55687.189833   57902.242149 -5.65847  4.35267e-08  -2215.05    3.98
상계5동     35040.184000   35911.003140 -2.51211    0.0126613   -870.82    2.49
상계6.7동  195475.820667  174987.961818  6.53835  3.73256e-10  20487.86  -10.48
상계8동     56350.849000   57717.602066 -1.76405    0.0790019  -1366.75    2.43
상계9동     29661.510417   24721.918017   12.766  8.37698e-29   4939.59  -16.65
월계1동     77700.491083   59233.655868  18.6592   1.5003e-48  18466.84  -23.77
월계2동     45253.179250   41398.259091  9.30571  8.87971e-18   3854.92   -8.52
월계3동    108761.902417   93856.510083  10.3663  4.92627e-21  14905.39  -13.70
중계1동     44378.706167   37520.545537  10.0786  3.88526e-20   6858.16  -15.45
중계2.3동   89576.899750   67102.078017  19.0937  5.52233e-50  22474.82  -25.09
중계4동     41967.667833   36268.312975  12.0734  1.61295e-26   5699.35  -13.58
중계본동     44225.956417   45415.951488 -3.29239   0.00114373  -1190.00    2.69
하계1동     85801.767333   55369.181736  26.9777  1.75549e-74  30432.59  -35.47
하계2동     75631.048750   57332.233636  18.5538   3.3501e-48  18298.82  -24.19

In [25]:
result_dataframe(대구중구_결과, 대구중구_2019, 대구중구_2020)
대구중구_결과

<ipython-input-19-1c8ea480601a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T검정값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[0]
<ipython-input-19-1c8ea480601a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['p값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[1]

               2019          2020     T검정값           p값     평균 차이  감소율(%)
행정동
남산1동   47206.491750  32864.016281  16.6522  7.46314e-42  14342.48  -30.38
남산2동   56307.046500  35442.631818  19.7885   2.9106e-52  20864.41  -37.05
남산3동   12194.458833   9818.670744   8.3223  6.65748e-15   2375.79  -19.48
남산4동   27746.776417  25807.290826  3.10635   0.00212304   1939.49   -6.99
대봉1동   68971.644583  64487.764132  3.30821   0.00108371   4483.88   -6.50
대봉2동    7774.792083   7179.619421  3.35852  0.000911803    595.17   -7.66
대신동    58697.883250  36750.858678  19.0661   6.8114e-50  21947.02  -37.39
동인동    71248.169750  52316.294711  12.7561  9.03296e-29  18931.88  -26.57
삼덕동    55749.383583  41421.601074  12.3589  1.85773e-27  14327.78  -25.70
성내1동  142508.961000  98261.995207  16.7632  3.16252e-42  44246.97  -31.05
성내2동  137702.856083  80565.546281  21.8893  5.02065e-59  57137.31  -41.49
성내3동   39335.919000  28615.776860  18.1534   7.1361e-47  10720.14  -27.25

In [26]:
result_dataframe(수성구_결과, 수성구_2019, 수성구_2020)
수성구_결과

<ipython-input-19-1c8ea480601a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['T검정값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[0]
<ipython-input-19-1c8ea480601a>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['p값'][i] = ttest_ind(df2019[df2019.행정동 == i]['전체'], df2020[df2020.행정동 == i]['전체'])[1]

                  2019           2020      T검정값           p값     평균 차이  감소율(%)
행정동
고산1동     125114.116667  113417.691488   6.37624  9.28736e-10  11696.43   -9.35
고산2동     240015.952500  196703.366860   11.9483  4.14146e-26  43312.59  -18.05
고산3동      51031.789833   46851.029091    6.2496   1.8731e-09   4180.76   -8.19
두산동      112087.270333   79070.770000   19.1979  2.50786e-50  33016.50  -29.46
만촌1동     113062.653833   87108.291818   15.2084  5.43179e-37  25954.36  -22.96
만촌2동      69546.450333   51856.724380   15.8698  3.20321e-39  17689.73  -25.44
만촌3동      39893.731833   31044.971818   20.8464  1.07895e-55   8848.76  -22.18
범물1동      37570.032500   31279.422479   11.3642  3.27826e-24   6290.61  -16.74
범물2동      27634.128750   25210.403884   5.03371  9.46915e-07   2423.72   -8.77
범어1동      74610.250833   51821.728017   16.7171  4.51582e-42  22788.52  -30.54
범어2동      85903.492917   57307.103388   18.0727  1.32341e-46  28596.39  -33.29
범어3동      49065.787250   34315.330909   14.6051  5.85508e-35  14750.46  -30.06
범어4동      64259.288917   46205.121074   14.5494  9.02074e-35  18054.17  -28.10
상동        71405.083000   57983.540909   11.9092    5.561e-26  13421.54  -18.80
수성1가동     66869.219417   49372.031405   17.2119   9.8971e-44  17497.19  -26.17
수성2.3가동   56753.185833   36439.913058   19.4373  4.10462e-51  20313.27  -35.79
수성4가동     69457.838250   47393.003223   15.0698  1.59235e-36  22064.84  -31.77
중동        48136.646667   49930.734545  -1.94625    0.0527968  -1794.09    3.73
지산1동      67840.949667   54604.955702   10.6651  5.64357e-22  13235.99  -19.51
지산2동      35283.755333   35644.165289 -0.301259     0.763479   -360.41    1.02
파동        43135.356083   34472.719091   13.4564   4.2059e-31   8662.64  -20.08
황금1동      55616.514083   40349.495537   13.0248  1.15709e-29  15267.02  -27.45
황금2동      67229.769167   51827.687603   11.2801  6.12318e-24  15402.08  -22.91