In [1]:
import pandas as pd
import plotly.graph_objs as go
import plotly.offline as py

import matplotlib.pyplot as plt
from matplotlib import rc, font_manager
%matplotlib inline
# py.init_notebook_mode()

from datetime import datetime
from datetime import timedelta

In [2]:
df = pd.read_csv('./aaii.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    820 non-null    object
 1   Bullish                 820 non-null    float64
 2   Neutral                 820 non-null    float64
 3   Bearish                 820 non-null    float64
 4   Bullish 8-Week Mov Avg  820 non-null    float64
 5   Bull-Bear Spread        820 non-null    float64
dtypes: float64(5), object(1)
memory usage: 38.6+ KB

In [5]:
df

,Date,Bullish,Neutral,Bearish,Bullish 8-Week Mov Avg,Bull-Bear Spread
0,2005-01-06,0.381000,0.273800,0.345200,0.537763,0.035800
1,2005-01-13,0.339900,0.261400,0.398700,0.500125,-0.058800
2,2005-01-20,0.336600,0.326700,0.336600,0.480350,0.000000
3,2005-01-27,0.264300,0.371400,0.364300,0.442437,-0.100000
4,2005-02-03,0.416700,0.333300,0.250000,0.430337,0.166700
...,...,...,...,...,...,...
815,2020-08-20,0.303887,0.272085,0.424028,0.262678,-0.120141
816,2020-08-27,0.320755,0.283019,0.396226,0.275083,-0.075471
817,2020-09-03,0.308017,0.274262,0.417722,0.279641,-0.109705
818,2020-09-10,0.237113,0.278351,0.484536,0.270734,-0.247423
819,2020-09-17,0.320197,0.275862,0.403941,0.278188,-0.083744

In [7]:
df['Date']=df['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d')).copy()

In [10]:
df2 = pd.read_csv('./vix.csv')

In [14]:
df2['Date']=df2['Date'].apply(lambda x: pd.to_datetime(str(x), format='%Y-%m-%d')).copy()

In [17]:
df2.set_index('Date', inplace=True)

In [19]:
df.set_index('Date', inplace=True)

In [27]:
df3 = pd.merge(df, df2, how = 'right', on='Date')

In [28]:
import os
base_dir = 'E:\문서'
file_nm = "aaii.xlsx"
xlxs_dir = os.path.join(base_dir, file_nm)

In [29]:
df3.to_excel(xlxs_dir, # directory and file name to write
            na_rep = 'NaN', 
            float_format = "%.2f", 
            header = True, 
            index = True, 
            index_label = "id", 
            startrow = 1, 
            startcol = 1, 
            )